<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="/js/mainpage.js"></script>
    <link rel="stylesheet" href="/CSS/index.css">
    <link rel="stylesheet" href="/CSS/bootstrap.min.css">
    <script type="javascript" src="/js/mainpage.js"></script>
    <title>My Portfolio</title>
</head>
<body class="bg-dark">
<div class="container-contain">
    <div class="container-header">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-dark">
            <a id="davidwebdev" href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none bg-dark">
                <img id="globe" class="globe" src="/Icons/globe.png">
                <span id="logo" class="text-white">DavidWebDev</span>
            </a>
            <ul class="nav nav-pills">
                <li id="GitHub" class="nav-item"><a href="https://github.com/kibibitbit/" target="_blank" class="nav-link active bg-white text-black" aria-current="page">GitHub</a></li>
                <li class="nav-item"><a href="#about" class="nav-link text-white">About Me</a></li>
                <li class="nav-item"><a href="#skills" class="nav-link text-white">Skills</a></li>
                <li  class="nav-item"><a href="#projects" class="nav-link text-white">Projects</a></li>
            </ul>
        </header>
    </div>
</div>
<main>
    <section id="about">
        <div class="container reveal0">
            <div class="about">
                <h2>About Me</h2>
                <div class="text-container">
                    <img src="../Icons/pb.png">
                    <div class="text-box">
                        <h3><span>My Name: </span><br>David Usov</h3>
                        <h3><span>Age: </span><br>19 Years</h3>
                        <h3><span>Hobbys: </span><br>Coding, Gaming</h3>
                        <h3><span>What i do: </span><br>School education in the second year</h3>
                    </div>
                </div>
            </div>
            <div class="scrolldowntext">
                <h1>Scroll Down To Reveal My Skills &#8595;</h1>
            </div>
        </div>
    </section>
    <section id="skills">
        <div class="container reveal">
            <h2>Skills</h2>
            <div class="text-container">
                <div class="text-box">
                    <h3>frontend</h3>
                    <div class="images">
                        <div class="backend">
                            <img src="/Icons/html.png">
                            <h4>HTMl</h4>
                        </div>
                        <div>
                            <img src="/Icons/css-3.png">
                            <h4>CSS</h4>
                        </div>
                        <div>
                            <img src="/Icons/js.png">
                            <h4>JavaScript</h4>
                        </div>
                        <div>
                            <img src="/Icons/bootstrap.png">
                            <h4>BootsTrap</h4>
                        </div>
                    </div>
                </div>
                <div class="text-box">
                    <h3>Backend</h3>
                    <div class="images">
                        <div>
                            <img src="/Icons/nodejs.png">
                            <h4>NodeJS</h4>
                        </div>
                        <div>
                            <img src="/Icons/expressjs.png">
                            <h4> ExpressJS </h4>
                        </div>
                        <div>
                            <img src="/Icons/netz.png">
                            <h4>MySQL</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scrolldowntext">
                <h1>Scroll Down To Reveal My Projects &#8595;</h1>
            </div>
        </div>
    </section>
    <section id="projects">
        <div class="container reveal2">
            <h2>Projects</h2>
            <div class="text-container">
                <div class="text-box">
                    <div class="project">
                        <h3>Pi Games</h3>
                        <img src="../Img/pigames.png">
                        <p>The pigames was createt in my school. it´s a race with self made cars, programmed with C. We created a
                            database with mysql and build a website with mainly express and javascript.<h4 class="text-black">Check out my GitHub</h4></p>
                    </div>
                </div>
                <div class="text-box">
                    <div class="project">
                        <h3>Filmsite</h3>
                        <img src="../Img/film-school.png">
                        <p>This film website was a project in my school. We build a dynamic webiste, with mysql,nodejs,ejs,css etc.
                            This website shows you a lot of film. You can also add new films.<h4 class="text-black">Check out my GitHub</h4></p>
                    </div>
                </div>
                <div class="text-box">
                    <div class="project">
                        <h3>Portfolio</h3>
                        <img src="../Img/portfolio.png">
                        <p>This is my portfolio that was my own project. The portfolio have all about my self.
                            This site was programed with Express,NodeJS,CSS,BootsTrap,EJS and javascript.<h4 class="text-black">Check out my GitHub</h4></p>
                    </div>
                    <a href="/">link</a>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="copyrigth">
    Created by David Usov · © 2023
</footer>
</body>
</html>