<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="/js/mainpage.js"></script>
    <link rel="stylesheet" href="/CSS/index.css">
    <link rel="stylesheet" href="/CSS/bootstrap.min.css">
    <script type="javascript" src="/js/mainpage.js"></script>
    <title>My Portfolio</title>
</head>
<body class="bg-dark">
    <div class="container-contain">
        <div class="container-header">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-dark">
                <a id="davidwebdev" href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none bg-dark">
                    <img id="globe" class="globe" src="/Icons/globe.png">
                    <span id="logo" class="text-white">DavidWebDev</span>
                </a>
                <ul class="nav nav-pills">
                    <li id="Home" class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="#about" class="nav-link">About Me</a></li>
                    <li class="nav-item"><a href="#skills" class="nav-link">Skills</a></li>
                    <li class="nav-item"><a href="#Projects" class="nav-link">Projects</a></li>
                </ul>
            </header>
        </div>
    </div>
<main>
    <section id="about">
        <div class="container reveal0">
            <div class="about">
                <h2>About Me</h2>
                <div class="text-container">
                    <img src="../Icons/pb.png">
                    <div class="text-box">
                        <h3><span>My Name: </span><br>David Usov</h3>
                        <h3><span>Age: </span><br>19 Years</h3>
                        <h3><span>Hobbys: </span><br>Coding, Gaming, Watch Anime and Read Manga</h3>
                        <h3><span>What I do: </span><br>school education in the second year</h3>
                    </div>
                </div>
            </div>
            <div>
                <h1>Scroll Down to Reveal My Skills &#8595;</h1>
            </div>
        </div>
    </section>
    <section id="skills">
        <div class="container reveal">
            <h2>Skills</h2>
            <div class="text-container">
                <div class="text-box">
                    <h3>frontend</h3>
                    <div class="images">
                        <img src="/Icons/html.png">
                        <img src="/Icons/css-3.png">
                        <img src="/Icons/js.png">
                        <img src="/Icons/bootstrap.png">
                    </div>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>BootsTrap</li>
                    </ul>
                </div>
                <div class="text-box">
                    <h3>backend</h3>
                    <div class="images">
                        <img src="/Icons/nodejs.png">
                        <img src="/Icons/expressjs.png">
                        <img src="/Icons/netz.png">
                    </div>
                    <ul>
                        <li>NodeJS</li>
                        <li>ExpressJS</li>
                        <li>MySQL</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="copyrigth">
    Created by David Usov · © 2023
</footer>
</body>
</html>